/*Font Face (Open Sans)*/

@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.eot');
  src: url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
       url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
       url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
       url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans Semibold';
  font-weight: 600;
  font-style: normal;
  src: url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.eot');
  src: url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('Open-Sans-600'),
       url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
       url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
       url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
       url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}


/*Slot Machine*/
.barrage
{
    white-space:nowrap;
    position:absolute;
    font-size:24px;
    line-height:40px;
    color:#fff;
    -webkit-transition:transform 12s linear;
    -moz-transition:transform 12s linear;
    -ms-transition:transform 12s linear;
    -o-transition:transform 12s linear;
    transition:transform 12s linear;
}

.slotMachine
{
    width:996px;
    height:672px;
    margin:0 auto;
    position:relative;
    background:url(../Images/raffle.png) no-repeat;
}

.slotMachine .winning
{
    width:730px;
    height:500px;
    position:absolute;
    top:85px;
    left:90px;
    overflow:hidden;
    cursor:default;
}

.slotMachine .winning .list
{
    width:100%;
    position:absolute;
    bottom:-57px;
}

.slotMachine .frame
{
    width:800px;
    height:90px;
    background:url(../Images/frame1.png) no-repeat;
    position:absolute;
    top:282px;
    left:56px;
}

.slotMachine .button
{
    width:80px;
    height:80px;
    position:absolute;
    top:178px;
    left:878px;
}

.slotMachine .joysticks
{
    position:absolute;
    top:218px;
    left:880px;
}

.slotMachine .joysticks.joysticksAnimate
{
    animation:joysticksAnimate 1.85s;
    -moz-animation:joysticksAnimate 1.85s;
    -webkit-animation:joysticksAnimate 1.85s;
    -o-animation:joysticksAnimate 1.85s;
}

.slotMachine .candidate
{
    border-radius:10px;
    /*background-image:-moz-linear-gradient(90deg,#16a8e3 0,#81d6f3 100%);
    background-image:-webkit-linear-gradient(90deg,#16a8e3 0,#81d6f3 100%);
    background-image:-ms-linear-gradient(90deg,#16a8e3 0,#81d6f3 100%);*/
    background-color: transparent;
    box-shadow:0 1px 2px 0 rgb(255,215,0);
    /*#351a1a;*/
    height:60px;
    font-size:22px;
    line-height:60px;
    text-align:center;
    color:#fff;
    padding:0;
    width:730px;
    margin:10px 0;
}

.slotMachine .candidate.pitch
{
    /*background-image:-moz-linear-gradient(90deg,#ff723a 0,#ff9d3e 100%);
    background-image:-webkit-linear-gradient(90deg,#ff723a 0,#ff9d3e 100%);
    background-image:-ms-linear-gradient(90deg,#ff723a 0,#ff9d3e 100%);*/
    background-color:#CD7F32;
}



/*Container*/
.containerAppear
{
    -webkit-animation:containerAppear 1s;
    -moz-animation:containerAppear 1s;
    -o-animation:containerAppear 1s;
    animation:containerAppear 1s;
}

.containerDisappear
{
    -webkit-animation:containerDisappear 1s;
    -moz-animation:containerDisappear 1s;
    -o-animation:containerDisappear 1s;
    animation:containerDisappear 1s;
}

.candidatenum
{
    -webkit-transition:transform 15s cubic-bezier(0.365,.225,0,1.05);
    -moz-transition:transform 15s cubic-bezier(0.365,.225,0,1.05);
    -ms-transition:transform 15s cubic-bezier(0.365,.225,0,1.05);
    -o-transition:transform 15s cubic-bezier(0.365,.225,0,1.05);
    transition:transform 15s cubic-bezier(0.365,.225,0,1.05);
}



/*Keyframes*/
@-webkit-keyframes joysticksAnimate
{
    0% {-webkit-transform:rotateX(0deg)}
    20% {-webkit-transform:rotateX(90deg)}
    100% {-webkit-transform:rotateX(0deg)}

}

@-o-keyframes joysticksAnimate
{
    0%{-o-transform:rotateX(0deg)}
    20%{-o-transform:rotateX(90deg)}
    100%{-o-transform:rotateX(0deg)}
}

@-moz-keyframes joysticksAnimate
{
    0%{-moz-transform:rotateX(0deg)}
    20%{-moz-transform:rotateX(90deg)}
    100%{-moz-transform:rotateX(0deg)}
}

@keyframes joysticksAnimate
{
    0%{transform:rotateX(0deg)}
    20%{transform:rotateX(90deg)}
    100%{transform:rotateX(0deg)}
}

@-webkit-keyframes containerAppear
{
    from{opacity:0}to{opacity:1}
}

@-o-keyframes containerAppear
{
    from{opacity:0}to{opacity:1}
}

@-moz-keyframes containerAppear
{
    from{opacity:0}to{opacity:1}
}

@keyframes containerAppear
{
    from{opacity:0}to{opacity:1}

}

@-webkit-keyframes containerDisappear
{
    from{opacity:1}to{opacity:0}

}

@-o-keyframes containerDisappear
{
    from{opacity:1}to{opacity:0}
}

@-moz-keyframes containerDisappear
{
    from{opacity:1}to{opacity:0}

}

@keyframes containerDisappear{
    from{opacity:1}to{opacity:0}

}



/*Winner name pop-up*/
.screen
{
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,.8);
    z-index:9999;

}

.screen .prize
{
    width:1055px;
    height:500px;
    background:url(../Images/prize2.png) no-repeat;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);

}

.screen .prize .confirm
{
    border-radius:4px;
    background-color:#ff6c46;
    box-shadow:0 5px 0 0 #d83722;
    position:absolute;
    left:640px;
    top:400px;
    width:118px;
    height:50px;
    cursor:pointer

}

.screen .prize .void
{
    border-radius:4px;
    background-color:#ff6c46;
    box-shadow:0 5px 0 0 #d83722;
    position:absolute;
    left:270px;
    top:400px;
    width:118px;
    height:50px;
    cursor:pointer

}

.screen .prize .name
{
    width:700px;
    height:200px;
    margin:90px 0 0 160px

}

.screen .prize .name p
{
    color:black;
    text-align:center;
    text-transform:uppercase;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size:50px;
    margin-bottom:10px

}

.screen .prize .confirm:hover
{
    box-shadow:0 0;
    top:400px;

}

.screen .prize .confirm:active
{
    top:405px;
    height:45px;
    box-shadow:0 -5px 0 0 #d83722

}

.screen .prize .confirm p
{
    line-height:50px;
    color:#FFF;
    text-align:center;
}

.removeMargin {
    margin-right:0 !important;
    margin-left:0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}



/*Media Queries*/
@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {

}

@media (max-width: 767px) {

}