@font-face {
  font-family: 'Open Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.eot');
  src: url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Light'),
       local('Open-Sans-300'),
       url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.woff2') format('woff2'),
       url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.woff') format('woff'),
       url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.ttf') format('truetype'),
       url('../Open Sans/fonts/Open-Sans-300/Open-Sans-300.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans Semibold';
  font-weight: 600;
  font-style: normal;
  src: url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.eot');
  src: url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Semibold'),
       local('Open-Sans-600'),
       url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.woff2') format('woff2'),
       url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.woff') format('woff'),
       url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.ttf') format('truetype'),
       url('../Open Sans/fonts/Open-Sans-600/Open-Sans-600.svg#OpenSans') format('svg');
}

@font-face {
  font-family: 'Open Sans Bold';
  font-weight: 700;
  font-style: normal;
  src: url('../Open Sans/fonts/Open-Sans-700/Open-Sans-700.eot');
  src: url('../Open Sans/fonts/Open-Sans-700/Open-Sans-700.eot?#iefix') format('embedded-opentype'),
       local('Open Sans Bold'),
       local('Open-Sans-700'),
       url('../Open Sans/fonts/Open-Sans-700/Open-Sans-700.woff2') format('woff2'),
       url('../Open Sans/fonts/Open-Sans-700/Open-Sans-700.woff') format('woff'),
       url('../Open Sans/fonts/Open-Sans-700/Open-Sans-700.ttf') format('truetype'),
       url('../Open Sans/fonts/Open-Sans-700/Open-Sans-700.svg#OpenSans') format('svg');
}

.events_background {
    height: 100%;
    position: relative;
    background: url('../Images/background2.png') no-repeat center center fixed;
    background-size: cover;
}

.removeBullet {
    list-style: none;
}

.bottomBorderOnly
{
    border:0 !important;
    outline: 0 !important;
    background: transparent !important;
    border-bottom: 1px solid black !important;
    width: 100% !important;
}

.removeButton 
{
    padding: 0 !important;
    outline: none !important;
    border: none !important;
    background: none !important;
}

.btnConfirm
{
    width:130px;
    height:50px;
    border-radius: 30px;
    padding-top:10px;
    outline: none !important;
    border: 3px solid #F26C4F;
    background-color:transparent;
    font-size:15px;
    color:black;
    font-family:'Open Sans Semibold', sans-serif;
    text-transform:uppercase;
    position:absolute;
    left:270px;
    top:400px;
    cursor:pointer;
}

.btnVoid 
{
    width:130px;
    height:50px;
    border-radius: 30px;
    padding-top:10px;
    outline: none !important;
    border: 3px solid #F26C4F;
    background-color:transparent;
    font-size:15px;
    color:black;
    font-family:'Open Sans Semibold', sans-serif;
    text-transform:uppercase;
    position:absolute;
    left:640px;
    top:400px;
    cursor:pointer;
}

.headerText 
{
    position: absolute;
    top: 60px;
    z-index:1;
    font-size:80px;
    color:white;
    letter-spacing:50px;
    font-family:'Open Sans', sans-serif;
    text-transform:uppercase;
    width:100%;
}

.carousel .item
{
    min-height: 400px !important;
    height:400px !important;
    width:100% !important;
}

.slider1 
{
    width: 100%;
    height:400px;
    background: url('../Images/Slider/3.jpg') no-repeat center;
    background-size: cover;
}

.slider2 
{
    width: 100%;
    height:400px;
    background: url('../Images/Slider/2.jpg') no-repeat center;
    background-size: cover;
}

.slider3
{
    width: 100%;
    height:400px;
    background: url('../Images/Slider/6.jpg') no-repeat center;
    background-size: cover;
}

.slider4
{
    width: 100%;
    height:400px;
    background: url('../Images//Slider/7.jpg') no-repeat center;
    background-size: cover;
}

.carouselFade .carousel-inner .item
{
    transition-property: opacity;
}

.item,
.active.left,
.active.right 
{
   opacity: 0.6;
}

.active,
.next.left,
.prev.right 
{
   opacity: 1;
}

.next,
.prev,
.active.left,
.active.right 
{
   left: 0;
   transform: translate3d(0, 0, 0);
}

.eventsText 
{
    font-size:45px;
    color:Black;
    font-weight:bolder;
    letter-spacing:40px;
    font-family:'Open Sans', sans-serif;
    text-transform:uppercase;
}

.eventsRow 
{
    height: 30% !important;
    border-bottom:2px solid black;
    padding-top:5%;
}

.messageText
{
    font-size:45px;
    color:Black;
    font-weight:bolder;
    font-family:'Open Sans', sans-serif;
    letter-spacing:20px;
}

.slotMachineContainer 
{
    font-family: 'Open Sans Semibold', sans-serif;
}

.customFont 
{
    font-family: 'Open Sans Semibold', sans-serif;
}

.winnerText 
{
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 18px;
}

.winnerTitle 
{
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 25px;
}

.prizeName 
{
    font-family: 'Open Sans Semibold', sans-serif serif;
    text-transform: uppercase;
    font-size: 50px;
}

.prizeQty
{
    font-family: 'Open Sans Semibold', sans-serif serif;
    font-size: 30px;
}

.customTextLarge 
{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    /*letter-spacing: 5px;*/
}

.customTextSmall
{
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    /*letter-spacing: 5px;*/
}


.centerVertically {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.badgeFontSize
{
    font-size:15px;
}

#autoScroll
{
    height:50%;
    overflow-y:hidden;
}

a.btnConfirm:hover
{
  background-color: #008000 !important;
  text-decoration: none !important;
  color:white;
}

a.btnVoid:hover
{
  background-color: red !important;
  text-decoration: none !important;
  color:white;
}

a.removeButton {
    color:black;
}

a.removeButton:hover {
    text-decoration:none;
    color:black;
}

.checkBox:hover 
{
    cursor:pointer;
}