.header_background {
    background: url('../Images/eventwallpaper5_rockandroll_black.jpg') no-repeat center;
    background-size: cover;
}

.events_background {
    background: url('../Images/eventwallpaper6.jpg') no-repeat center center fixed;
    background-size: cover;
}
