.bground {
    background: url('../Images/eventwallpaper5_rockandroll_black.jpg') no-repeat center;
    background-size: cover;
}

.bground2 {
    background: url('../Images/eventwallpaper_black.jpg') no-repeat center center fixed;
    background-size: cover;
}
