@model Raffle.Models.PrizeViewModel

@using (Html.BeginForm("Prizes", "Prize", FormMethod.Post))
    {
        @Html.TextBoxFor(a => a.prize_name)
        @Html.TextBoxFor(a => a.quantity)
        <button class="btn btn-default">Save</button>
    } 
