@model Raffle.Models.PrizeViewModel

<center>
    <br />
    <div style="width:60%">
        @using (Html.BeginForm("Prize", "Prize", FormMethod.Post))
        {
            <div class="form-group">
                <h2 style="font-family:'Open Sans', sans-serif;">Prize</h2>
            </div>
            @Html.TextBoxFor(a => a.prize_name, new { @class = "bottomborderonly text-center", @autofocus = "autofocus", @style = "font-size:30px;font-family:'Open Sans', sans-serif;" })
            <br /><br /><br /><br />
            <div class="form-group">
                <h2 style="font-family:'Open Sans', sans-serif;">Quantity</h2>
            </div>
            @Html.TextBoxFor(a => a.quantity, new { @Value = "", @class = "bottomborderonly text-center", @style = "font-size:30px;font-family:'Open Sans', sans-serif;" })
            <br /><br /><br />
            <button class="btn btn-default">Save</button>
            <a href="@Url.Action("LoadParticipants", "Participants")" role="button" class="btn btn-default">Continue</a>
         
        }
    </div>
</center>