@model Raffle.Models.PrizeViewModel

<center>
    <div style="width:75%">
        @using (Html.BeginForm("Prize", "Prize", FormMethod.Post))
        {
            @Html.TextBoxFor(a => a.prize_name, new { @class = "form-control", @placeholder = "Prize" })
            <br />
            @Html.TextBoxFor(a => a.quantity, new { @Value = "", @class = "form-control", @placeholder = "Quantity" })
            <button class="btn btn-default">Save</button><a href="@Url.Action("LoadParticipants", "Participants")" role="button" class="btn btn-default">Continue</a>
        }
    </div>
</center>