@model Raffle.Models.PrizeViewModel
@{
    ViewBag.Title = "LoadPrizes";
}

<h4>Prize Input</h4>

@using (Html.BeginForm("AddPrizes", "Prize", FormMethod.Post))
{
    @Html.TextBoxFor(a => a.PrizeName)
    @Html.TextBoxFor(a => a.Quantity)
    <button class="btn btn-default">Save</button>
} 

<a href="@Url.Action("LoadParticipants", "Participants")" role="button" class="btn btn-default">Continue</a>

@*@Html.Partial("PrizeList")*@

