@using Raffle.Models;
@model IEnumerable<Events>

@{
    Layout = null;
    ViewBag.Title = "Choose an Event";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>

<!--header text "Choose an Event"-->
<div class="headerText text-center">
    Choose an Event
</div>

<!--Carousel-->
<div id="carouselHeader" class="carousel slide carouselFade" data-ride="carousel" data-interval="3000">
   <div class="carousel-inner" role="listbox">
        <div class="item active">
             <div class="slider1"></div>
        </div>
        <div class="item">
             <div class="slider2"></div>
        </div>
        <div class="item">
             <div class="slider3"></div>
        </div>
   </div>
</div>

<a class="left carousel-control hidden" href="#carouselHeader" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
</a>

<a class="right carousel-control hidden" href="#carouselHeader" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
</a>

<!--List of Events-->
<center>
    <span class="messageText"><i>@ViewBag.Message</i></span>
    @foreach (var e in Model)
        {
            <div class="row">
                <a href="@Url.Action("ValidatePasscode", "Home", new { id = e.event_id, name = e.event_name})">
                    <div class="eventsRow col-lg-12">
                        <span class="eventsText">@e.event_name</span>
                    </div>
                </a>
            </div>
        }
</center>

<!--noParticipants Modal-->
<div class="modal fade centerVertically" id="noParticipants" role="dialog" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body">
                <center>
                    <span style="font-size:18px;padding-top:30px;">This event has no participants yet.</span>
                    <br /><br />
                    <button type="button" data-dismiss="modal" class="removeButton">
                        <img src="~/Images/right-arrow.png" width="48" height="48" />
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.9.1.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script>
    @if (TempData["showModal"] == "true")
    {
        @:$(document).ready(function () { $('#noParticipants').modal('show'); })
    }
</script>