@using Raffle.Models;
@model IEnumerable<Events>

@{
    Layout = null;
    ViewBag.Title = "Choose an Event";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/buttons.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">

<div class="container-fluid header_background">
    <div class="row">
        <div style="height:40%;margin-top:auto;" class="text-center">
            <br /><br /><br />
            <span style="font-size:80px;color:white;letter-spacing:50px;font-family:'Open Sans', sans-serif;text-transform:uppercase;">Choose an Event</span>
        </div>
    </div>
</div>

<br />

<div class="container-fluid events_background">
        <div>
            <center>
                    @*@if (Model)
                    {*@
                        @foreach (var e in Model)
                        {
                            <div class="row">
                                <a href="@Url.Action("ValidatePasscode", "Home", new { id = e.event_id, name = e.event_name })">
                                    <div class="col-lg-12" style="height:30% !important;border-bottom:5px solid white;padding-top:5%">
                                        <span style="font-size:45px;color:black;font-weight:bolder;letter-spacing:40px;font-family:'Open Sans', sans-serif;">@e.event_name</span>
                                    </div>
                                </a>
                            </div>
                        }
                    @*}
                    else
                    {
                        <div class="row">
                            <div class="col-lg-12" style="height:30% !important;border-bottom:5px solid white;padding-top:5%">
                                <span style="font-size:45px;color:black;font-weight:bolder;letter-spacing:40px;">@ViewBag.Message</span>
                            </div>
                        </div>
                    }*@
            </center>
        </div>
</div>

<script src="~/Scripts/bootstrap.min.js"></script>