@using Raffle.Models;
@model IEnumerable<Events>

@{
    Layout = null;
    ViewBag.Title = "Choose an Event";
}

<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/buttons.css" rel="stylesheet" />
<link href="~/Content/animate.css" rel="stylesheet" />

<div class="container-fluid header_background">
    <div class="row">
        <div style="height:40%;font-size:60px;font-weight:600;margin-top:auto;" class="text-center">
            @*@DateTime.Now.Year.ToString()*@
            <br />
            <span style="font-size:80px;color:white;letter-spacing:50px;">Choose an Event</span>
        </div>
    </div>   
</div>
<br />
<div class="container-fluid events_background">
        <div>
            <center>
                @foreach (var e in Model)
                {
                    @*<a href="@Url.Action("Prizes", "Prize", new { id = e.event_id })" class="btn btn-default outline round animated flipInX" style="font-size:30px;color:black;margin:auto;padding-right:10px;padding-left:10px;margin-bottom:20px;margin-right:10px;">@e.event_name</a>*@
                    <div class="row">
                        <a href="@Url.Action("Prizes", "Prize", new { id = e.event_id})">
                            <div class="col-lg-12" style="height:30% !important;border-bottom:5px solid white;padding-top:5%">
                                <span style="font-size:45px;color:black;font-weight:bolder;letter-spacing:40px;">@e.event_name</span>
                            </div>
                        </a>
                    </div>
                    }
        </center>
        </div>
    </div>
<script src="~/Scripts/bootstrap.min.js"></script>